version: "3.3"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:4.1.0
    container_name: zookeeper
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:4.1.0
    ports:
      - 9092:9092
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  rds:
    image: mysql:5.7
    ports:
      - 3306:3306
    container_name: rds
    environment:
      MYSQL_ROOT_PASSWORD: "password"
      MYSQL_DATABASE: "ucfs-claimant"
      MYSQL_USER: "claimantapi"
      MYSQL_PASSWORD: "password"

  dks:
    image: dks
    ports:
      - 8443:8443
    build:
      context: containers/dks
    container_name: dks

  localstack:
    image: localstack/localstack:latest
    ports:
      - 4566:4566
    container_name: localstack
    environment:
      - SERVICES=kms,s3,secretsmanager,ssm

  localstack-init:
    image: localstack-init
    build:
      context: containers/localstack
    container_name: localstack-init
    depends_on:
      - localstack

  ucfs-claimant-kafka-consumer:
    image: ucfs-claimant-kafka-consumer:latest
    build: ./
    container_name: ucfs-claimant-kafka-consumer
    depends_on:
      - kafka
    environment:
      AWS_CMK_ALIAS: alias/ucfs_etl_cmk
      AWS_RDS_PASSWORD_SECRET_NAME: ucfs-claimant-api-db-password
      AWS_SALT_PARAMETER_NAME: /ucfs/claimant-api/nino/salt
      KAFKA_INSECURE: "true"
      KAFKA_TOPIC_REGEX: db\.\w+\.\w+
      RDS_DATABASE: ucfs-claimant
      RDS_USER: claimantapi
      SECURITY_KEY_PASSWORD: changeit
      SECURITY_KEYSTORE: development-keystore.jks
      SECURITY_KEYSTORE_ALIAS: cid
      SECURITY_KEYSTORE_PASSWORD: changeit
      SECURITY_TRUSTSTORE: development-truststore.jks
      SECURITY_TRUSTSTORE_PASSWORD: changeit
      SPRING_PROFILES_ACTIVE: QUEUE_TARGET,LOCALSTACK

  ucfs-claimant-kafka-consumer-tests:
    image: ucfs-claimant-kafka-consumer-tests:latest
    build: ./containers/tests
    container_name: ucfs-claimant-kafka-consumer-tests
    depends_on:
      - ucfs-claimant-kafka-consumer
